<a href="https://colab.research.google.com/github/allyreum/R_study/blob/main/Pandas_Cookbook_2_e.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Pandas 기초


*   DataFrame(2차원)에서 column을 선택해서 Series(1차원 데이터 셋)으로 반환


*   dataFrame: index, columns, data

In [3]:
# 1) pandas 임포트
import pandas as pd
import numpy as np

In [4]:
url = "https://raw.githubusercontent.com/PacktPublishing/Pandas-Cookbook/master/data/movie.csv"
movies = pd.read_csv(url)
print(movies.head())
print(movies.tail())

   color      director_name  num_critic_for_reviews  duration  \
0  Color      James Cameron                   723.0     178.0
1  Color     Gore Verbinski                   302.0     169.0
2  Color         Sam Mendes                   602.0     148.0
3  Color  Christopher Nolan                   813.0     164.0
4    NaN        Doug Walker                     NaN       NaN

   director_facebook_likes  actor_3_facebook_likes      actor_2_name  \
0                      0.0                   855.0  Joel David Moore
1                    563.0                  1000.0     Orlando Bloom
2                      0.0                   161.0      Rory Kinnear
3                  22000.0                 23000.0    Christian Bale
4                    131.0                     NaN        Rob Walker

   actor_1_facebook_likes        gross                           genres  ...  \
0                  1000.0  760505847.0  Action|Adventure|Fantasy|Sci-Fi  ...
1                 40000.0  309404152.0         Action|Adventure|Fantasy  ...
2                 11000.0  200074175.0        Action|Adventure|Thriller  ...
3                 27000.0  448130642.0                  Action|Thriller  ...
4                   131.0          NaN                      Documentary  ...

  num_user_for_reviews language  country  content_rating       budget  \
0               3054.0  English      USA           PG-13  237000000.0
1               1238.0  English      USA           PG-13  300000000.0
2                994.0  English       UK           PG-13  245000000.0
3               2701.0  English      USA           PG-13  250000000.0
4                  NaN      NaN      NaN             NaN          NaN

   title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
0      2009.0                  936.0        7.9          1.78
1      2007.0                 5000.0        7.1          2.35
2      2015.0                  393.0        6.8          2.35
3      2012.0                23000.0        8.5          2.35
4         NaN                   12.0        7.1           NaN

  movie_facebook_likes
0                33000
1                    0
2                85000
3               164000
4                    0

[5 rows x 28 columns]
      color     director_name  num_critic_for_reviews  duration  \
4911  Color       Scott Smith                     1.0      87.0
4912  Color               NaN                    43.0      43.0
4913  Color  Benjamin Roberds                    13.0      76.0
4914  Color       Daniel Hsia                    14.0     100.0
4915  Color          Jon Gunn                    43.0      90.0

      director_facebook_likes  actor_3_facebook_likes      actor_2_name  \
4911                      2.0                   318.0     Daphne Zuniga
4912                      NaN                   319.0     Valorie Curry
4913                      0.0                     0.0     Maxwell Moody
4914                      0.0                   489.0     Daniel Henney
4915                     16.0                    16.0  Brian Herzlinger

      actor_1_facebook_likes    gross                        genres  ...  \
4911                   637.0      NaN                  Comedy|Drama  ...
4912                   841.0      NaN  Crime|Drama|Mystery|Thriller  ...
4913                     0.0      NaN         Drama|Horror|Thriller  ...
4914                   946.0  10443.0          Comedy|Drama|Romance  ...
4915                    86.0  85222.0                   Documentary  ...

     num_user_for_reviews language  country  content_rating  budget  \
4911                  6.0  English   Canada             NaN     NaN
4912                359.0  English      USA           TV-14     NaN
4913                  3.0  English      USA             NaN  1400.0
4914                  9.0  English      USA           PG-13     NaN
4915                 84.0  English      USA              PG  1100.0

      title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
4911      2013.0                  470.0        7.7           NaN
4912         NaN                  593.0        7.5         16.00
4913      2013.0                    0.0        6.3           NaN
4914      2012.0                  719.0        6.3          2.35
4915      2004.0                   23.0        6.6          1.85

     movie_facebook_likes
4911                   84
4912                32000
4913                   16
4914                  660
4915                  456

[5 rows x 28 columns]



*   dataFrame은 column의 type이 다를 수 있으나 numpy 배열은 아님

In [9]:
columns = movies.columns
index = movies.index
type(index)

pandas.core.indexes.range.RangeIndex

In [10]:
data = movies.to_numpy()
type(data)

numpy.ndarray



*   Index(행 인덱스)와 Column(열 인덱스)은 밀접한 관계임, 둘다 Index의 서브클래스이므로, 서로 유사한 작업을 수행함

In [11]:
issubclass(pd.RangeIndex, pd.Index)

True

In [12]:
issubclass(columns.__class__, pd.Index)

True



*   작동원리: Index를 지정하지 않으면, pandas는 RangeIndex(Index의 하위 클래스) 사용 -> range객체와 유사함


*   **전체 값이 필요할 때까지 메모리에 로드되지 않아 메모리 절약됨**

In [15]:
index.to_numpy() # hash table을 사용해 구현함

array([   0,    1,    2, ..., 4913, 4914, 4915])

In [16]:
columns.to_numpy()

array(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes',
       'actor_2_name', 'actor_1_facebook_likes', 'gross', 'genres',
       'actor_1_name', 'movie_title', 'num_voted_users',
       'cast_total_facebook_likes', 'actor_3_name',
       'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link',
       'num_user_for_reviews', 'language', 'country', 'content_rating',
       'budget', 'title_year', 'actor_2_facebook_likes', 'imdb_score',
       'aspect_ratio', 'movie_facebook_likes'], dtype=object)

### 데이터 형식 이해
*   Int64: NULL 값을 지원하는 pandas 정수 형식
*   object: 문자열(과 혼합형식)을 저장하는 numpy 형식
*   bool(결측치 x), boolean(NULL o)
*   datetime64[ns]: 날짜형식, 결측치(NaT) okay

In [20]:
movies.dtypes       # 열의 이름, 데이터 형식 표기
movies.dtypes.value_counts() # 데이터 형식의 개수 반환
# movies.info()

float64    13
object     12
int64       3
Name: count, dtype: int64

In [22]:
pd.Series(["Paul",np.nan, "George"]).dtype
# pandas는 문자열 + NaN이 섞여 있으면,이 경우 Python 객체를 담는 object 타입(series에서는 0)으로 표기

dtype('O')

### 열 선택(Series 추출)

In [30]:
#   .loc: 레이블 기반
movies.loc[:, "director_name"].head()

0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
4          Doug Walker
Name: director_name, dtype: object

In [31]:
#   .iloc: 위치 기반
movies.iloc[:, 1].head()

0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
4          Doug Walker
Name: director_name, dtype: object

In [34]:
movies["director_name"].index

'director_name'

In [36]:
movies["director_name"].size

4916

In [40]:
type(movies["director_name"])

pandas.core.series.Series

In [41]:
movies["director_name"].apply(type).unique()  # 동일 형식을 가진 Series로 변환

array([<class 'str'>, <class 'float'>], dtype=object)

**Series 메서드 호출**
- dir 함수: 모든 속성과 메서드를 찾아볼 때 사용

In [44]:
s_attr_methods = set(dir(pd.Series))
len(s_attr_methods)

419

In [46]:
df_attr_methods = set(dir(pd.DataFrame))
len(df_attr_methods)

438

In [47]:
len(s_attr_methods & df_attr_methods)

362